# Creating the datafile to draw the *Welcome Choropleth*

In this notebook we will create the datafile needed to visualize a Choropleth similar to the one created by The Washington Post in [one of their articles](https://www.washingtonpost.com/graphics/2019/investigations/dea-pain-pill-database/).

First, we will get summary data per country per year using the API endpoint `/v1/combined_county_annual`.

In [1]:
import pandas as pd

url = 'https://arcos-api.ext.nile.works/v1/combined_county_annual?key=WaPo'

# I had to add dtype=False to prevent Pandas from changing the JSON data types (i.e. countyfips)
df = pd.read_json(url, dtype=False)

In [2]:
df

      BUYER_COUNTY BUYER_STATE  DOSAGE_UNIT  count countyfips  year
0        ABBEVILLE          SC     363620.0    877      45001  2006
1        ABBEVILLE          SC     402940.0    908      45001  2007
2        ABBEVILLE          SC     424590.0    871      45001  2008
3        ABBEVILLE          SC     467230.0    930      45001  2009
4        ABBEVILLE          SC     539280.0   1197      45001  2010
5        ABBEVILLE          SC     566560.0   1327      45001  2011
6        ABBEVILLE          SC     589010.0   1509      45001  2012
7           ACADIA          LA    1969720.0   5802      22001  2006
8           ACADIA          LA    2207310.0   5660      22001  2007
9           ACADIA          LA    2246900.0   5703      22001  2008
10          ACADIA          LA    2537240.0   6070      22001  2009
11          ACADIA          LA    2679687.0   6266      22001  2010
12          ACADIA          LA    2806270.0   6499      22001  2011
13          ACADIA          LA    2640841.0   7151      22001  2012
14        ACCOMACK          VA     487300.0   1410      51001  2006
15        ACCOMACK          VA     614000.0   1826      51001  2007
16        ACCOMACK          VA     691600.0   1881      51001  2008
17        ACCOMACK          VA     702600.0   1825      51001  2009
18        ACCOMACK          VA     800550.0   2336      51001  2010
19        ACCOMACK          VA     918550.0   2588      51001  2011
20        ACCOMACK          VA     839370.0   2510      51001  2012
21             ADA          ID   11094634.0  26077      16001  2006
22             ADA          ID   10826747.0  24750      16001  2007
23             ADA          ID   11817954.0  26294      16001  2008
24             ADA          ID   13061399.0  28967      16001  2009
25             ADA          ID   16145256.0  34885      16001  2010
26             ADA          ID   18138918.0  36742      16001  2011
27             ADA          ID   18992237.0  38273      16001  2012
28           ADAIR          IA     135525.0    349      19001  2006
29           ADAIR          IA     159700.0    412      19001  2007
...            ...         ...          ...    ...        ...   ...
21567       ZAPATA          TX      69770.0    405      48505  2007
21568       ZAPATA          TX     101130.0    468      48505  2008
21569       ZAPATA          TX     101410.0    475      48505  2009
21570       ZAPATA          TX     121410.0    475      48505  2010
21571       ZAPATA          TX     162200.0    442      48505  2011
21572       ZAPATA          TX     179160.0    458      48505  2012
21573       ZAVALA          TX     148460.0    270      48507  2006
21574       ZAVALA          TX     164740.0    365      48507  2007
21575       ZAVALA          TX     191700.0    268      48507  2008
21576       ZAVALA          TX     193530.0    240      48507  2009
21577       ZAVALA          TX     200100.0    248      48507  2010
21578       ZAVALA          TX     244800.0    406      48507  2011
21579       ZAVALA          TX     263700.0    473      48507  2012
21580          NaN          AE        330.0      2        NaN  2006
21581          NaN          CA      12600.0     47        NaN  2006
21582          NaN          CT      78700.0    305        NaN  2006
21583          NaN          CT      30900.0    112        NaN  2007
21584          NaN          CT      15000.0     48        NaN  2008
21585          NaN          FL        900.0      9        NaN  2006
21586          NaN          FL        700.0      7        NaN  2007
21587          NaN          GA      51700.0    114        NaN  2006
21588          NaN          IA       2300.0      7        NaN  2006
21589          NaN          IN      39300.0    292        NaN  2006
21590          NaN          MA     114900.0    247        NaN  2006
21591          NaN          NV     173600.0    380        NaN  2006
21592          NaN          NV     200600.0    447        NaN  2007
21593          NaN          NV       2200.0      5        NaN  2008
21594          NaN          OH       5100.0     23        NaN  2006
21595          NaN          PR      17800.0     10        NaN  2006
21596          NaN          PR       1300.0      2        NaN  2007

[21597 rows x 6 columns]

In [3]:
df.dropna(inplace=True)

In [4]:
df

      BUYER_COUNTY BUYER_STATE  DOSAGE_UNIT  count countyfips  year
0        ABBEVILLE          SC     363620.0    877      45001  2006
1        ABBEVILLE          SC     402940.0    908      45001  2007
2        ABBEVILLE          SC     424590.0    871      45001  2008
3        ABBEVILLE          SC     467230.0    930      45001  2009
4        ABBEVILLE          SC     539280.0   1197      45001  2010
5        ABBEVILLE          SC     566560.0   1327      45001  2011
6        ABBEVILLE          SC     589010.0   1509      45001  2012
7           ACADIA          LA    1969720.0   5802      22001  2006
8           ACADIA          LA    2207310.0   5660      22001  2007
9           ACADIA          LA    2246900.0   5703      22001  2008
10          ACADIA          LA    2537240.0   6070      22001  2009
11          ACADIA          LA    2679687.0   6266      22001  2010
12          ACADIA          LA    2806270.0   6499      22001  2011
13          ACADIA          LA    2640841.0   7151      22001  2012
14        ACCOMACK          VA     487300.0   1410      51001  2006
15        ACCOMACK          VA     614000.0   1826      51001  2007
16        ACCOMACK          VA     691600.0   1881      51001  2008
17        ACCOMACK          VA     702600.0   1825      51001  2009
18        ACCOMACK          VA     800550.0   2336      51001  2010
19        ACCOMACK          VA     918550.0   2588      51001  2011
20        ACCOMACK          VA     839370.0   2510      51001  2012
21             ADA          ID   11094634.0  26077      16001  2006
22             ADA          ID   10826747.0  24750      16001  2007
23             ADA          ID   11817954.0  26294      16001  2008
24             ADA          ID   13061399.0  28967      16001  2009
25             ADA          ID   16145256.0  34885      16001  2010
26             ADA          ID   18138918.0  36742      16001  2011
27             ADA          ID   18992237.0  38273      16001  2012
28           ADAIR          IA     135525.0    349      19001  2006
29           ADAIR          IA     159700.0    412      19001  2007
...            ...         ...          ...    ...        ...   ...
21550         YUBA          CA    5039850.0   6878      06115  2011
21551         YUBA          CA    5265450.0   6780      06115  2012
21552         YUMA          AZ    3196360.0   8477      04027  2006
21553         YUMA          AZ    3658780.0   9785      04027  2007
21554         YUMA          AZ    4083780.0  10696      04027  2008
21555         YUMA          AZ    4642090.0  11350      04027  2009
21556         YUMA          AZ    4880880.0  11538      04027  2010
21557         YUMA          AZ    5789600.0  12914      04027  2011
21558         YUMA          AZ    6228240.0  13678      04027  2012
21559         YUMA          CO     158000.0    682      08125  2006
21560         YUMA          CO     181200.0    750      08125  2007
21561         YUMA          CO     205000.0    859      08125  2008
21562         YUMA          CO     226820.0    995      08125  2009
21563         YUMA          CO     222800.0    952      08125  2010
21564         YUMA          CO     263160.0    996      08125  2011
21565         YUMA          CO     276500.0   1133      08125  2012
21566       ZAPATA          TX      57700.0    324      48505  2006
21567       ZAPATA          TX      69770.0    405      48505  2007
21568       ZAPATA          TX     101130.0    468      48505  2008
21569       ZAPATA          TX     101410.0    475      48505  2009
21570       ZAPATA          TX     121410.0    475      48505  2010
21571       ZAPATA          TX     162200.0    442      48505  2011
21572       ZAPATA          TX     179160.0    458      48505  2012
21573       ZAVALA          TX     148460.0    270      48507  2006
21574       ZAVALA          TX     164740.0    365      48507  2007
21575       ZAVALA          TX     191700.0    268      48507  2008
21576       ZAVALA          TX     193530.0    240      48507  2009
21577       ZAVALA          TX     200100.0    248      48507  2010
21578       ZAVALA          TX     244800.0    406      48507  2011
21579       ZAVALA          TX     263700.0    473      48507  2012

[21002 rows x 6 columns]

In [5]:
# let's see how many samples per year in total dataset (this will give us number of counties)
df['year'].value_counts()

2006    3008
2012    3007
2011    3002
2007    3001
2010    2995
2009    2995
2008    2994
Name: year, dtype: int64

Now we will get the county population per year.

In [6]:
url = 'https://arcos-api.ext.nile.works/v1/county_population?key=WaPo'

population_df = pd.read_json(url, dtype=False)

In [7]:
population_df

,BUYER_COUNTY,BUYER_STATE,COUNTY,NAME,STATE,county_name,countyfips,population,variable,year
0,AUTAUGA,AL,1,"Autauga County, Alabama",1,Autauga,01001,51328.0,POPESTIMATE2006,2006
1,BALDWIN,AL,3,"Baldwin County, Alabama",1,Baldwin,01003,168121.0,POPESTIMATE2006,2006
2,BARBOUR,AL,5,"Barbour County, Alabama",1,Barbour,01005,27861.0,POPESTIMATE2006,2006
3,BIBB,AL,7,"Bibb County, Alabama",1,Bibb,01007,22099.0,POPESTIMATE2006,2006
4,BLOUNT,AL,9,"Blount County, Alabama",1,Blount,01009,55485.0,POPESTIMATE2006,2006
5,BULLOCK,AL,11,"Bullock County, Alabama",1,Bullock,01011,10776.0,POPESTIMATE2006,2006
6,BUTLER,AL,13,"Butler County, Alabama",1,Butler,01013,20815.0,POPESTIMATE2006,2006
7,CALHOUN,AL,15,"Calhoun County, Alabama",1,Calhoun,01015,115388.0,POPESTIMATE2006,2006
8,CHAMBERS,AL,17,"Chambers County, Alabama",1,Chambers,01017,34945.0,POPESTIMATE2006,2006
9,CHEROKEE,AL,19,"Cherokee County, Alabama",1,Cherokee,01019,25466.0,POPESTIMATE2006,2006
10,CHILTON,AL,21,"Chilton County, Alabama",1,Chilton,01021,42318.0,POPESTIMATE2006,2006
11,CHOCTAW,AL,23,"Choctaw County, Alabama",1,Choctaw,01023,14431.0,POPESTIMATE2006,2006
12,CLARKE,AL,25,"Clarke County, Alabama",1,Clarke,01025,26755.0,POPESTIMATE2006,2006
13,CLAY,AL,27,"Clay County, Alabama",1,Clay,01027,14053.0,POPESTIMATE2006,2006
14,CLEBURNE,AL,29,"Cleburne County, Alabama",1,Cleburne,01029,14538.0,POPESTIMATE2006,2006
15,COFFEE,AL,31,"Coffee County, Alabama",1,Coffee,01031,46228.0,POPESTIMATE2006,2006
16,COLBERT,AL,33,"Colbert County, Alabama",1,Colbert,01033,54413.0,POPESTIMATE2006,2006
17,CONECUH,AL,35,"Conecuh County, Alabama",1,Conecuh,01035,13603.0,POPESTIMATE2006,2006
18,COOSA,AL,37,"Coosa County, Alabama",1,Coosa,01037,11451.0,POPESTIMATE2006,2006
19,COVINGTON,AL,39,"Covington County, Alabama",1,Covington,01039,37441.0,POPESTIMATE2006,2006
20,CRENSHAW,AL,41,"Crenshaw County, Alabama",1,Crenshaw,01041,13880.0,POPESTIMATE2006,2006
21,CULLMAN,AL,43,"Cullman County, Alabama",1,Cullman,01043,79044.0,POPESTIMATE2006,2006
22,DALE,AL,45,"Dale County, Alabama",1,Dale,01045,49077.0,POPESTIMATE2006,2006
23,DALLAS,AL,47,"Dallas County, Alabama",1,Dallas,01047,44323.0,POPESTIMATE2006,2006
24,DE KALB,AL,49,"DeKalb County, Alabama",1,De Kalb,01049,68495.0,POPESTIMATE2006,2006
25,ELMORE,AL,51,"Elmore County, Alabama",1,Elmore,01051,75246.0,POPESTIMATE2006,2006
26,ESCAMBIA,AL,53,"Escambia County, Alabama",1,Escambia,01053,37673.0,POPESTIMATE2006,2006
27,ETOWAH,AL,55,"Etowah County, Alabama",1,Etowah,01055,103528.0,POPESTIMATE2006,2006
28,FAYETTE,AL,57,"Fayette County, Alabama",1,Fayette,01057,17767.0,POPESTIMATE2006,2006
29,FRANKLIN,AL,59,"Franklin County, Alabama",1,Franklin,01059,31134.0,POPESTIMATE2006,2006
...,...,...,...,...,...,...,...,...,...,...
21971,WAUPACA,WI,135,"Waupaca County, Wisconsin",55,Waupaca,55135,52377.0,B01003_001,2012
21972,WAUSHARA,WI,137,"Waushara County, Wisconsin",55,Waushara,55137,24565.0,B01003_001,2012
21973,WINNEBAGO,WI,139,"Winnebago County, Wisconsin",55,Winnebago,55139,166984.0,B01003_001,2012
21974,WOOD,WI,141,"Wood County, Wisconsin",55,Wood,55141,74591.0,B01003_001,2012
21975,ALBANY,WY,1,"Albany County, Wyoming",56,Albany,56001,36186.0,B01003_001,2012
21976,BIG HORN,WY,3,"Big Horn County, Wyoming",56,Big Horn,56003,11636.0,B01003_001,2012
21977,CAMPBELL,WY,5,"Campbell County, Wyoming",56,Campbell,56005,45840.0,B01003_001,2012
21978,CARBON,WY,7,"Carbon County, Wyoming",56,Carbon,56007,15781.0,B01003_001,2012
21979,CONVERSE,WY,9,"Converse County, Wyoming",56,Converse,56009,13779.0,B01003_001,2012
21980,CROOK,WY,11,"Crook County, Wyoming",56,Crook,56011,7036.0,B01003_001,2012
21981,FREMONT,WY,13,"Fremont County, Wyoming",56,Fremont,56013,40103.0,B01003_001,2012
21982,GOSHEN,WY,15,"Goshen County, Wyoming",56,Goshen,56015,13277.0,B01003_001,2012
21983,HOT SPRINGS,WY,17,"Hot Springs County, Wyoming",56,Hot Springs,56017,4791.0,B01003_001,2012
21984,JOHNSON,WY,19,"Johnson County, Wyoming",56,Johnson,56019,8564.0,B01003_001,2012
21985,LARAMIE,WY,21,"Laramie County, Wyoming",56,Laramie,56021,91719.0,B01003_001,2012
21986,LINCOLN,WY,23,"Lincoln County, Wyoming",56,Lincoln,56023,17960.0,B01003_001,2012
21987,NATRONA,WY,25,"Natrona County, Wyoming",56,Natrona,56025,75876.0,B01003_001,2012
21988,NIOBRARA,WY,27,"Niobrara County, Wyoming",56,Niobrara,56027,2478.0,B01003_001,2012
21989,PARK,WY,29,"Park County, Wyoming",56,Park,56029,28203.0,B01003_001,2012
21990,PLATTE,WY,31,"Platte County, Wyoming",56,Platte,56031,8677.0,B01003_001,2012
21991,SHERIDAN,WY,33,"Sheridan County, Wyoming",56,Sheridan,56033,29097.0,B01003_001,2012
21992,SUBLETTE,WY,35,"Sublette County, Wyoming",56,Sublette,56035,10065.0,B01003_001,2012
21993,SWEETWATER,WY,37,"Sweetwater County, Wyoming",56,Sweetwater,56037,43890.0,B01003_001,2012
21994,TETON,WY,39,"Teton County, Wyoming",56,Teton,56039,21326.0,B01003_001,2012
21995,UINTA,WY,41,"Uinta County, Wyoming",56,Uinta,56041,20942.0,B01003_001,2012
21996,WASHAKIE,WY,43,"Washakie County, Wyoming",56,Washakie,56043,8425.0,B01003_001,2012
21997,WESTON,WY,45,"Weston County, Wyoming",56,Weston,56045,7152.0,B01003_001,2012
21998,SKAGWAY,AK,230,"Skagway Municipality, Alaska",2,Skagway,02230,1050.0,B01003_001,2012
21999,HOONAH ANGOON,AK,105,"Hoonah-Angoon Census Area, Alaska",2,Hoonah Angoon,02105,2153.0,B01003_001,2012
22000,PETERSBURG,AK,195,"Petersburg Borough, Alaska",2,Petersburg,02195,3822.0,B01003_001,2012

Now let's merge both datasets by countyfips so we can add population to original dataset.

In [8]:
merge_df = df.merge(population_df, on=['countyfips', 'year'])
merge_df

,BUYER_COUNTY_x,BUYER_STATE_x,year,count,DOSAGE_UNIT,countyfips,BUYER_COUNTY_y,BUYER_STATE_y,STATE,COUNTY,county_name,NAME,variable,population
0,ABBEVILLE,SC,2006,877,363620.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",POPESTIMATE2006,25821.0
1,ABBEVILLE,SC,2007,908,402940.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",POPESTIMATE2007,25745.0
2,ABBEVILLE,SC,2008,871,424590.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",POPESTIMATE2008,25699.0
3,ABBEVILLE,SC,2009,930,467230.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",B01003_001,25347.0
4,ABBEVILLE,SC,2010,1197,539280.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",B01003_001,25643.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20997,ZAVALA,TX,2008,268,191700.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",POPESTIMATE2008,11725.0
20998,ZAVALA,TX,2009,240,193530.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11620.0
20999,ZAVALA,TX,2010,248,200100.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11658.0
21000,ZAVALA,TX,2011,406,244800.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11700.0
21001,ZAVALA,TX,2012,473,263700.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11753.0

In [23]:
results_df = merge_df[['countyfips', 'year', 'county_name', 'BUYER_COUNTY_x', 'BUYER_STATE_x', 'NAME', 'DOSAGE_UNIT', 'population']]
results_df

,countyfips,year,county_name,BUYER_COUNTY_x,BUYER_STATE_x,NAME,DOSAGE_UNIT,population
0,45001,2006,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",363620.0,25821.0
1,45001,2007,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",402940.0,25745.0
2,45001,2008,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",424590.0,25699.0
3,45001,2009,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",467230.0,25347.0
4,45001,2010,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",539280.0,25643.0
...,...,...,...,...,...,...,...,...
20997,48507,2008,Zavala,ZAVALA,TX,"Zavala County, Texas",191700.0,11725.0
20998,48507,2009,Zavala,ZAVALA,TX,"Zavala County, Texas",193530.0,11620.0
20999,48507,2010,Zavala,ZAVALA,TX,"Zavala County, Texas",200100.0,11658.0
21000,48507,2011,Zavala,ZAVALA,TX,"Zavala County, Texas",244800.0,11700.0
21001,48507,2012,Zavala,ZAVALA,TX,"Zavala County, Texas",263700.0,11753.0

Now let's get the average pills per person at county level.

In [10]:
results_df.loc[:, 'avg_pills_per_person'] = results_df.loc[:, 'DOSAGE_UNIT']/results_df.loc[:, 'population']
results_df

/anaconda3/envs/Python3/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/envs/Python3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,countyfips,year,county_name,BUYER_COUNTY_x,BUYER_STATE_x,DOSAGE_UNIT,population,avg_pills_per_person
0,45001,2006,Abbeville,ABBEVILLE,SC,363620.0,25821.0,14.082336
1,45001,2007,Abbeville,ABBEVILLE,SC,402940.0,25745.0,15.651194
2,45001,2008,Abbeville,ABBEVILLE,SC,424590.0,25699.0,16.521655
3,45001,2009,Abbeville,ABBEVILLE,SC,467230.0,25347.0,18.433345
4,45001,2010,Abbeville,ABBEVILLE,SC,539280.0,25643.0,21.030301
...,...,...,...,...,...,...,...,...
20997,48507,2008,Zavala,ZAVALA,TX,191700.0,11725.0,16.349680
20998,48507,2009,Zavala,ZAVALA,TX,193530.0,11620.0,16.654905
20999,48507,2010,Zavala,ZAVALA,TX,200100.0,11658.0,17.164179
21000,48507,2011,Zavala,ZAVALA,TX,244800.0,11700.0,20.923077
21001,48507,2012,Zavala,ZAVALA,TX,263700.0,11753.0,22.436825

Now let's get the average pills per person, *per year* at county level.

In [11]:
results_groupby = results_df.groupby('countyfips')['avg_pills_per_person'].mean()
results_groupby

countyfips
01001    57.660565
01003    56.672366
01005    40.877386
01007    47.219056
01009    30.040165
           ...
56037    30.782960
56039    22.702695
56041    40.387005
56043    54.147773
56045    32.646641
Name: avg_pills_per_person, Length: 3036, dtype: float64

In [12]:
population_df[population_df['countyfips']=='01001']

,BUYER_COUNTY,BUYER_STATE,countyfips,STATE,COUNTY,county_name,NAME,variable,year,population
0,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2006,2006,51328.0
3143,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2007,2007,52405.0
6286,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2008,2008,53277.0
9429,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2009,49584.0
12572,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2010,53155.0
15715,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2011,53944.0
18858,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2012,54590.0

Save results to a csv file to be used by Welcome Choropleth.

In [13]:
results_groupby.to_csv('tof/static/data/welcome-choropleth-data.csv', header=True)

In [14]:
results_groupby.describe()

count    3036.000000
mean       38.134562
std        23.418906
min         0.006011
25%        23.205584
50%        34.286638
75%        47.992910
max       305.441400
Name: avg_pills_per_person, dtype: float64

In [15]:
results_groupby.round(1).to_csv('tof/static/data/welcome-choropleth-data.csv', header=True)

In [16]:
results_groupby

countyfips
01001    57.660565
01003    56.672366
01005    40.877386
01007    47.219056
01009    30.040165
           ...
56037    30.782960
56039    22.702695
56041    40.387005
56043    54.147773
56045    32.646641
Name: avg_pills_per_person, Length: 3036, dtype: float64

Create a csv file with a list of counties and states to be used in API calls later

In [17]:
results_df

,countyfips,year,county_name,BUYER_COUNTY_x,BUYER_STATE_x,DOSAGE_UNIT,population,avg_pills_per_person
0,45001,2006,Abbeville,ABBEVILLE,SC,363620.0,25821.0,14.082336
1,45001,2007,Abbeville,ABBEVILLE,SC,402940.0,25745.0,15.651194
2,45001,2008,Abbeville,ABBEVILLE,SC,424590.0,25699.0,16.521655
3,45001,2009,Abbeville,ABBEVILLE,SC,467230.0,25347.0,18.433345
4,45001,2010,Abbeville,ABBEVILLE,SC,539280.0,25643.0,21.030301
...,...,...,...,...,...,...,...,...
20997,48507,2008,Zavala,ZAVALA,TX,191700.0,11725.0,16.349680
20998,48507,2009,Zavala,ZAVALA,TX,193530.0,11620.0,16.654905
20999,48507,2010,Zavala,ZAVALA,TX,200100.0,11658.0,17.164179
21000,48507,2011,Zavala,ZAVALA,TX,244800.0,11700.0,20.923077
21001,48507,2012,Zavala,ZAVALA,TX,263700.0,11753.0,22.436825

In [31]:
counties_df = results_df.groupby(['countyfips', 'BUYER_COUNTY_x', 'BUYER_STATE_x', 'NAME']).min()

In [32]:
counties_df

,,,,year,county_name,DOSAGE_UNIT,population
countyfips,BUYER_COUNTY_x,BUYER_STATE_x,NAME,,,,
01001,AUTAUGA,AL,"Autauga County, Alabama",2006,Autauga,2277140.0,49584.0
01003,BALDWIN,AL,"Baldwin County, Alabama",2006,Baldwin,6353798.0,168121.0
01005,BARBOUR,AL,"Barbour County, Alabama",2006,Barbour,827060.0,27469.0
01007,BIBB,AL,"Bibb County, Alabama",2006,Bibb,754210.0,21464.0
01009,BLOUNT,AL,"Blount County, Alabama",2006,Blount,1290295.0,55485.0
...,...,...,...,...,...,...,...
56037,SWEETWATER,WY,"Sweetwater County, Wyoming",2006,Sweetwater,1035850.0,39140.0
56039,TETON,WY,"Teton County, Wyoming",2006,Teton,364200.0,20014.0
56041,UINTA,WY,"Uinta County, Wyoming",2006,Uinta,685700.0,19709.0
56043,WASHAKIE,WY,"Washakie County, Wyoming",2006,Washakie,351835.0,7791.0
56045,WESTON,WY,"Weston County, Wyoming",2006,Weston,192900.0,6717.0

In [33]:
counties_df.reset_index(inplace=True)

In [34]:
counties_df = counties_df[['countyfips', 'BUYER_STATE_x', 'BUYER_COUNTY_x', 'NAME']]

In [35]:
counties_df.rename(columns={'BUYER_STATE_x':  'state',
                            'BUYER_COUNTY_x': 'county',
                            'NAME':           'name',
                            'countyfips':     'fips'}, inplace=True)

In [36]:
counties_df

       fips state      county                        name
0     01001    AL     AUTAUGA     Autauga County, Alabama
1     01003    AL     BALDWIN     Baldwin County, Alabama
2     01005    AL     BARBOUR     Barbour County, Alabama
3     01007    AL        BIBB        Bibb County, Alabama
4     01009    AL      BLOUNT      Blount County, Alabama
...     ...   ...         ...                         ...
3029  56037    WY  SWEETWATER  Sweetwater County, Wyoming
3030  56039    WY       TETON       Teton County, Wyoming
3031  56041    WY       UINTA       Uinta County, Wyoming
3032  56043    WY    WASHAKIE    Washakie County, Wyoming
3033  56045    WY      WESTON      Weston County, Wyoming

[3034 rows x 4 columns]

In [37]:
counties_df.to_csv('tof/static/data/counties.csv', header=True, index=False)

Let's create a csv with average population per country to calculate average pills per person for data that is not yearly.

In [22]:
avg_population_df = population_df.groupby('countyfips')['population'].mean().round()

countyfips
01001     52612.0
01003    175270.0
01005     27972.0
01007     22404.0
01009     56697.0
01011     10891.0
01013     20762.0
01015    116348.0
01017     34606.0
01019     25503.0
01021     42984.0
01023     14127.0
01025     26283.0
01027     13992.0
01029     14771.0
01031     48077.0
01033     54470.0
01035     13343.0
01037     11320.0
01039     37493.0
01041     13897.0
01043     80016.0
01045     49493.0
01047     43862.0
01049     69707.0
01051     77486.0
01053     37886.0
01055    103911.0
01057     17505.0
01059     31289.0
           ...
55129     16083.0
55131    129823.0
55133    384939.0
55135     52469.0
55137     24658.0
55139    164444.0
55141     74492.0
56001     34580.0
56003     11429.0
56005     42557.0
56007     15541.0
56009     13299.0
56011      6684.0
56013     38625.0
56015     12750.0
56017      4681.0
56019      8262.0
56021     88825.0
56023     17206.0
56025     73242.0
56027      2411.0
56029     27499.0
56031      8622.0
56033     28288.0
56035      9025.0
56037     41718.0
56039     20683.0
56041     20411.0
56043      8177.0
56045      7001.0
Length: 3143, dtype: float64

In [11]:
avg_population_df

countyfips
01001     52611.9
01003    175269.9
01005     27971.9
01007     22404.4
01009     56697.4
01011     10890.9
01013     20761.7
01015    116348.4
01017     34605.9
01019     25502.6
01021     42983.7
01023     14127.4
01025     26283.0
01027     13992.3
01029     14771.3
01031     48077.1
01033     54470.4
01035     13343.1
01037     11319.7
01039     37493.1
01041     13897.4
01043     80016.1
01045     49492.6
01047     43862.3
01049     69707.3
01051     77486.1
01053     37885.9
01055    103910.9
01057     17504.9
01059     31289.0
           ...
55129     16083.0
55131    129823.3
55133    384938.9
55135     52468.6
55137     24658.0
55139    164444.1
55141     74491.9
56001     34580.4
56003     11428.6
56005     42557.4
56007     15541.4
56009     13299.4
56011      6683.9
56013     38624.6
56015     12750.3
56017      4680.7
56019      8262.1
56021     88825.1
56023     17206.0
56025     73241.6
56027      2410.7
56029     27499.4
56031      8621.6
56033     28287.7
56035      9025.3
56037     41717.9
56039     20682.9
56041     20411.3
56043      8176.6
56045      7001.4
Name: population, Length: 3143, dtype: float64

In [20]:
avg_population_df.to_csv('../tof/static/data/avg_county_population.csv', header=True, index=True)