# Creating the datafile to draw the *Welcome Choropleth*

In this notebook we will create the datafile needed to visualize a Choropleth similar to the one created by The Washington Post in [one of their articles](https://www.washingtonpost.com/graphics/2019/investigations/dea-pain-pill-database/).

First, we will get summary data per country per year using the API endpoint `/v1/combined_county_annual`.

In [1]:
import pandas as pd

url = 'https://arcos-api.ext.nile.works/v1/combined_county_annual?key=WaPo'

# I had to add dtype=False to prevent Pandas from changing the JSON data types (i.e. countyfips)
df = pd.read_json(url, dtype=False)

In [2]:
df

      BUYER_COUNTY BUYER_STATE  year  count  DOSAGE_UNIT countyfips
0        ABBEVILLE          SC  2006    877     363620.0      45001
1        ABBEVILLE          SC  2007    908     402940.0      45001
2        ABBEVILLE          SC  2008    871     424590.0      45001
3        ABBEVILLE          SC  2009    930     467230.0      45001
4        ABBEVILLE          SC  2010   1197     539280.0      45001
...            ...         ...   ...    ...          ...        ...
21592          NaN          NV  2007    447     200600.0        NaN
21593          NaN          NV  2008      5       2200.0        NaN
21594          NaN          OH  2006     23       5100.0        NaN
21595          NaN          PR  2006     10      17800.0        NaN
21596          NaN          PR  2007      2       1300.0        NaN

[21597 rows x 6 columns]

In [3]:
df.dropna(inplace=True)

In [4]:
df

      BUYER_COUNTY BUYER_STATE  year  count  DOSAGE_UNIT countyfips
0        ABBEVILLE          SC  2006    877     363620.0      45001
1        ABBEVILLE          SC  2007    908     402940.0      45001
2        ABBEVILLE          SC  2008    871     424590.0      45001
3        ABBEVILLE          SC  2009    930     467230.0      45001
4        ABBEVILLE          SC  2010   1197     539280.0      45001
...            ...         ...   ...    ...          ...        ...
21575       ZAVALA          TX  2008    268     191700.0      48507
21576       ZAVALA          TX  2009    240     193530.0      48507
21577       ZAVALA          TX  2010    248     200100.0      48507
21578       ZAVALA          TX  2011    406     244800.0      48507
21579       ZAVALA          TX  2012    473     263700.0      48507

[21002 rows x 6 columns]

In [5]:
# let's see how many samples per year in total dataset (this will give us number of counties)
df['year'].value_counts()

2006    3008
2012    3007
2011    3002
2007    3001
2010    2995
2009    2995
2008    2994
Name: year, dtype: int64

Now we will get the county population per year.

In [6]:
url = 'https://arcos-api.ext.nile.works/v1/county_population?key=WaPo'

population_df = pd.read_json(url, dtype=False)

In [7]:
population_df

,BUYER_COUNTY,BUYER_STATE,countyfips,STATE,COUNTY,county_name,NAME,variable,year,population
0,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2006,2006,51328.0
1,BALDWIN,AL,01003,1,3,Baldwin,"Baldwin County, Alabama",POPESTIMATE2006,2006,168121.0
2,BARBOUR,AL,01005,1,5,Barbour,"Barbour County, Alabama",POPESTIMATE2006,2006,27861.0
3,BIBB,AL,01007,1,7,Bibb,"Bibb County, Alabama",POPESTIMATE2006,2006,22099.0
4,BLOUNT,AL,01009,1,9,Blount,"Blount County, Alabama",POPESTIMATE2006,2006,55485.0
...,...,...,...,...,...,...,...,...,...,...
21996,WASHAKIE,WY,56043,56,43,Washakie,"Washakie County, Wyoming",B01003_001,2012,8425.0
21997,WESTON,WY,56045,56,45,Weston,"Weston County, Wyoming",B01003_001,2012,7152.0
21998,SKAGWAY,AK,02230,2,230,Skagway,"Skagway Municipality, Alaska",B01003_001,2012,1050.0
21999,HOONAH ANGOON,AK,02105,2,105,Hoonah Angoon,"Hoonah-Angoon Census Area, Alaska",B01003_001,2012,2153.0
22000,PETERSBURG,AK,02195,2,195,Petersburg,"Petersburg Borough, Alaska",B01003_001,2012,3822.0

Now let's merge both datasets by countyfips so we can add population to original dataset.

In [8]:
merge_df = df.merge(population_df, on=['countyfips', 'year'])
merge_df

,BUYER_COUNTY_x,BUYER_STATE_x,year,count,DOSAGE_UNIT,countyfips,BUYER_COUNTY_y,BUYER_STATE_y,STATE,COUNTY,county_name,NAME,variable,population
0,ABBEVILLE,SC,2006,877,363620.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",POPESTIMATE2006,25821.0
1,ABBEVILLE,SC,2007,908,402940.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",POPESTIMATE2007,25745.0
2,ABBEVILLE,SC,2008,871,424590.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",POPESTIMATE2008,25699.0
3,ABBEVILLE,SC,2009,930,467230.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",B01003_001,25347.0
4,ABBEVILLE,SC,2010,1197,539280.0,45001,ABBEVILLE,SC,45,1,Abbeville,"Abbeville County, South Carolina",B01003_001,25643.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20997,ZAVALA,TX,2008,268,191700.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",POPESTIMATE2008,11725.0
20998,ZAVALA,TX,2009,240,193530.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11620.0
20999,ZAVALA,TX,2010,248,200100.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11658.0
21000,ZAVALA,TX,2011,406,244800.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11700.0
21001,ZAVALA,TX,2012,473,263700.0,48507,ZAVALA,TX,48,507,Zavala,"Zavala County, Texas",B01003_001,11753.0

In [23]:
results_df = merge_df[['countyfips', 'year', 'county_name', 'BUYER_COUNTY_x', 'BUYER_STATE_x', 'NAME', 'DOSAGE_UNIT', 'population']]
results_df

,countyfips,year,county_name,BUYER_COUNTY_x,BUYER_STATE_x,NAME,DOSAGE_UNIT,population
0,45001,2006,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",363620.0,25821.0
1,45001,2007,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",402940.0,25745.0
2,45001,2008,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",424590.0,25699.0
3,45001,2009,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",467230.0,25347.0
4,45001,2010,Abbeville,ABBEVILLE,SC,"Abbeville County, South Carolina",539280.0,25643.0
...,...,...,...,...,...,...,...,...
20997,48507,2008,Zavala,ZAVALA,TX,"Zavala County, Texas",191700.0,11725.0
20998,48507,2009,Zavala,ZAVALA,TX,"Zavala County, Texas",193530.0,11620.0
20999,48507,2010,Zavala,ZAVALA,TX,"Zavala County, Texas",200100.0,11658.0
21000,48507,2011,Zavala,ZAVALA,TX,"Zavala County, Texas",244800.0,11700.0
21001,48507,2012,Zavala,ZAVALA,TX,"Zavala County, Texas",263700.0,11753.0

Now let's get the average pills per person at county level.

In [10]:
results_df.loc[:, 'avg_pills_per_person'] = results_df.loc[:, 'DOSAGE_UNIT']/results_df.loc[:, 'population']
results_df

/anaconda3/envs/Python3/lib/python3.7/site-packages/pandas/core/indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/envs/Python3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,countyfips,year,county_name,BUYER_COUNTY_x,BUYER_STATE_x,DOSAGE_UNIT,population,avg_pills_per_person
0,45001,2006,Abbeville,ABBEVILLE,SC,363620.0,25821.0,14.082336
1,45001,2007,Abbeville,ABBEVILLE,SC,402940.0,25745.0,15.651194
2,45001,2008,Abbeville,ABBEVILLE,SC,424590.0,25699.0,16.521655
3,45001,2009,Abbeville,ABBEVILLE,SC,467230.0,25347.0,18.433345
4,45001,2010,Abbeville,ABBEVILLE,SC,539280.0,25643.0,21.030301
...,...,...,...,...,...,...,...,...
20997,48507,2008,Zavala,ZAVALA,TX,191700.0,11725.0,16.349680
20998,48507,2009,Zavala,ZAVALA,TX,193530.0,11620.0,16.654905
20999,48507,2010,Zavala,ZAVALA,TX,200100.0,11658.0,17.164179
21000,48507,2011,Zavala,ZAVALA,TX,244800.0,11700.0,20.923077
21001,48507,2012,Zavala,ZAVALA,TX,263700.0,11753.0,22.436825

Now let's get the average pills per person, *per year* at county level.

In [11]:
results_groupby = results_df.groupby('countyfips')['avg_pills_per_person'].mean()
results_groupby

countyfips
01001    57.660565
01003    56.672366
01005    40.877386
01007    47.219056
01009    30.040165
           ...
56037    30.782960
56039    22.702695
56041    40.387005
56043    54.147773
56045    32.646641
Name: avg_pills_per_person, Length: 3036, dtype: float64

In [12]:
population_df[population_df['countyfips']=='01001']

,BUYER_COUNTY,BUYER_STATE,countyfips,STATE,COUNTY,county_name,NAME,variable,year,population
0,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2006,2006,51328.0
3143,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2007,2007,52405.0
6286,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",POPESTIMATE2008,2008,53277.0
9429,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2009,49584.0
12572,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2010,53155.0
15715,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2011,53944.0
18858,AUTAUGA,AL,01001,1,1,Autauga,"Autauga County, Alabama",B01003_001,2012,54590.0

Save results to a csv file to be used by Welcome Choropleth.

In [13]:
results_groupby.to_csv('tof/static/data/welcome-choropleth-data.csv', header=True)

In [14]:
results_groupby.describe()

count    3036.000000
mean       38.134562
std        23.418906
min         0.006011
25%        23.205584
50%        34.286638
75%        47.992910
max       305.441400
Name: avg_pills_per_person, dtype: float64

In [15]:
results_groupby.round(1).to_csv('tof/static/data/welcome-choropleth-data.csv', header=True)

In [16]:
results_groupby

countyfips
01001    57.660565
01003    56.672366
01005    40.877386
01007    47.219056
01009    30.040165
           ...
56037    30.782960
56039    22.702695
56041    40.387005
56043    54.147773
56045    32.646641
Name: avg_pills_per_person, Length: 3036, dtype: float64

Create a csv file with a list of counties and states to be used in API calls later

In [17]:
results_df

,countyfips,year,county_name,BUYER_COUNTY_x,BUYER_STATE_x,DOSAGE_UNIT,population,avg_pills_per_person
0,45001,2006,Abbeville,ABBEVILLE,SC,363620.0,25821.0,14.082336
1,45001,2007,Abbeville,ABBEVILLE,SC,402940.0,25745.0,15.651194
2,45001,2008,Abbeville,ABBEVILLE,SC,424590.0,25699.0,16.521655
3,45001,2009,Abbeville,ABBEVILLE,SC,467230.0,25347.0,18.433345
4,45001,2010,Abbeville,ABBEVILLE,SC,539280.0,25643.0,21.030301
...,...,...,...,...,...,...,...,...
20997,48507,2008,Zavala,ZAVALA,TX,191700.0,11725.0,16.349680
20998,48507,2009,Zavala,ZAVALA,TX,193530.0,11620.0,16.654905
20999,48507,2010,Zavala,ZAVALA,TX,200100.0,11658.0,17.164179
21000,48507,2011,Zavala,ZAVALA,TX,244800.0,11700.0,20.923077
21001,48507,2012,Zavala,ZAVALA,TX,263700.0,11753.0,22.436825

In [24]:
counties_df = results_df.groupby(['countyfips', 'BUYER_COUNTY_x', 'BUYER_STATE_x', 'NAME']).min()

In [25]:
counties_df

,,,,year,county_name,DOSAGE_UNIT,population
countyfips,BUYER_COUNTY_x,BUYER_STATE_x,NAME,,,,
01001,AUTAUGA,AL,"Autauga County, Alabama",2006,Autauga,2277140.0,49584.0
01003,BALDWIN,AL,"Baldwin County, Alabama",2006,Baldwin,6353798.0,168121.0
01005,BARBOUR,AL,"Barbour County, Alabama",2006,Barbour,827060.0,27469.0
01007,BIBB,AL,"Bibb County, Alabama",2006,Bibb,754210.0,21464.0
01009,BLOUNT,AL,"Blount County, Alabama",2006,Blount,1290295.0,55485.0
...,...,...,...,...,...,...,...
56037,SWEETWATER,WY,"Sweetwater County, Wyoming",2006,Sweetwater,1035850.0,39140.0
56039,TETON,WY,"Teton County, Wyoming",2006,Teton,364200.0,20014.0
56041,UINTA,WY,"Uinta County, Wyoming",2006,Uinta,685700.0,19709.0
56043,WASHAKIE,WY,"Washakie County, Wyoming",2006,Washakie,351835.0,7791.0
56045,WESTON,WY,"Weston County, Wyoming",2006,Weston,192900.0,6717.0

In [26]:
counties_df.reset_index(inplace=True)

In [27]:
counties_df = counties_df[['BUYER_STATE_x', 'BUYER_COUNTY_x', 'NAME', 'countyfips']]

In [ ]:
counties_df.rename(columns={'BUYER_STATE_x':  'state',
                            'BUYER_COUNTY_x': 'county',
                            'NAME':           'name',
                            'countyfips':     'fips'}, inplace=True)

In [ ]:
counties_df

In [ ]:
counties_df.to_csv('tof/static/data/counties.csv', header=True, index=False)