# Database Initialization

In this notebook we will create a table inside a SQLite database called `db/killbill.sqlite` and populate it with the results of an [API call](https://arcos-api.ext.nile.works/v1/combined_county_annual?key=WaPo) to a DEA database. This is part of the second project of the *UNC Data Analytics Bootcamp*.

First, we will store in a DataFrame the results of an API call. Since the results are in JSON format, we will use the `read_json()` Pandas method.

In [2]:
import pandas as pd

url = 'https://arcos-api.ext.nile.works/v1/combined_county_annual?key=WaPo'
df = pd.read_json(url)

In [3]:
df.head()

  BUYER_COUNTY BUYER_STATE  DOSAGE_UNIT  count  countyfips  year
0    ABBEVILLE          SC     363620.0    877     45001.0  2006
1    ABBEVILLE          SC     402940.0    908     45001.0  2007
2    ABBEVILLE          SC     424590.0    871     45001.0  2008
3    ABBEVILLE          SC     467230.0    930     45001.0  2009
4    ABBEVILLE          SC     539280.0   1197     45001.0  2010

In [5]:
df.count()

BUYER_COUNTY    21580
BUYER_STATE     21597
DOSAGE_UNIT     21597
count           21597
countyfips      21002
year            21597
dtype: int64

Create csv files one per year plus one with the total to be used in D3 to test visualizations.

In [49]:
import numpy as np

df[df.year == 2006].count()
df.dropna(inplace=True)

In [56]:
df['year'].value_counts()

2006    3008
2012    3007
2011    3002
2007    3001
2010    2995
2009    2995
2008    2994
Name: year, dtype: int64

In [51]:
for year in range(2006, 2013):
    df[df.year == year].to_csv('static/data/combined_county_annual_' + str(year) + '.csv', index=False)

In [61]:
df((df['count'] == 877))

TypeError: 'DataFrame' object is not callable